<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <div class="container">
      <nav></nav>
      <mainContent>
        <div class="twoList">
          <section>
            <h2>Received Event Registration</h2>
            <% for (let i = 0; i < application.length; i++) { %>
            <div class="eventCard">
              <h3><%= application[i].username %> want to attend</h3>
              <p>Event id: <%= application[i].event_id %></p>
              <div class="button-group">
                <form
                  action="/decline"
                  method="POST"
                  id="decline-form"
                  style="display: inline"
                >
                  <input
                    type="hidden"
                    name="event_id"
                    value="<%= application[i].event_id %>"
                  />
                  <input
                    type="hidden"
                    name="username"
                    value="<%= application[i].username %>"
                  />
                  <button type="submit" class="decline-btn">Decline</button>
                </form>
                <form action="/accept" method="POST" style="display: inline">
                  <input
                    type="hidden"
                    name="event_id"
                    value="<%= application[i].event_id %>"
                  />
                  <input
                    type="hidden"
                    name="username"
                    value="<%= application[i].username %>"
                  />
                  <button type="submit" class="accept-btn">Accept</button>
                </form>
              </div>
            </div>
            <% } %>
          </section>
          <section>
            <h2>My Registration</h2>
            <% for (let i = 0; i < myapplication.length; i++) { %>
            <div class="eventCard">
              <p>Event id: <%= myapplication[i].event_id %></p>
              <div class="status">Status: <%= myapplication[i].status %></div>
            </div>
            <% } %>
          </section>
        </div>
      </mainContent>

      <footer></footer>
    </div>
  </body>
  <script type="module" src="scripts/frame.js"></script>
</html>
